@font-face {
  font-family: "baker"; /* Project id 2448992 */
  src: url('https://at.alicdn.com/t/font_2448992_z5qnk49wax.woff2?t=1626732132975') format('woff2'),
       url('https://at.alicdn.com/t/font_2448992_z5qnk49wax.woff?t=1626732132975') format('woff'),
       url('https://at.alicdn.com/t/font_2448992_z5qnk49wax.ttf?t=1626732132975') format('truetype');
}

.baker {
  font-family: "baker" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bk-pingguo1:before {
  content: "\e650";
}

.bk-zhuanzhang:before {
  content: "\e606";
}

.bk-bangding:before {
  content: "\e645";
}

.bk-pingguo:before {
  content: "\e60b";
}

.bk-anzhuo:before {
  content: "\e602";
}

.bk-xiaochengxu:before {
  content: "\e658";
}

.bk-haoyou:before {
  content: "\e6b3";
}

.bk-qr_code:before {
  content: "\e600";
}

.bk-fenxiang:before {
  content: "\e62a";
}

.bk-baker:before {
  content: "\e624";
}

.bk-yaoqing:before {
  content: "\e644";
}

.bk-choujiang:before {
  content: "\e608";
}

.bk-huiyuan:before {
  content: "\e674";
}

.bk-tuichu:before {
  content: "\e604";
}

.bk-zidong:before {
  content: "\e691";
}

.bk-gongxiang-:before {
  content: "\e785";
}

.bk-shuji:before {
  content: "\ea8e";
}

.bk-mulu1:before {
  content: "\e643";
}

.bk-VIP1:before {
  content: "\e603";
}

.bk-daoxu:before {
  content: "\e68c";
}

.bk-shijianzhengxu:before {
  content: "\e60d";
}

.bk-jianju:before {
  content: "\e6c6";
}

.bk-jianju1:before {
  content: "\e6c7";
}

.bk-jianju2:before {
  content: "\e6c8";
}

.bk-mulu:before {
  content: "\e601";
}

.bk-yueliang:before {
  content: "\e641";
}

.bk-liangdu:before {
  content: "\e634";
}

.bk-shezhi1:before {
  content: "\e692";
}

.bk-chakantiezigengduojubao:before {
  content: "\e66b";
}

.bk-wp-sj-2:before {
  content: "\e720";
}

.bk-VIP:before {
  content: "\e652";
}

.bk-shuqian:before {
  content: "\e605";
}

.bk-gengduo:before {
  content: "\e62c";
}

.bk-pinglun1:before {
  content: "\e61e";
}

.bk-wodeshujia:before {
  content: "\e640";
}

.bk-erji:before {
  content: "\e63f";
}

.bk-vip-fill:before {
  content: "\e78f";
}

.bk-adblock:before {
  content: "\e65d";
}

.bk-liwu:before {
  content: "\e6ce";
}

.bk-jinbi:before {
  content: "\e611";
}

.bk-yanjing:before {
  content: "\e63b";
}

.bk-moshi:before {
  content: "\e642";
}

.bk-pinglun:before {
  content: "\e679";
}

.bk-ziyuan177:before {
  content: "\e772";
}

.bk-fuli:before {
  content: "\e6f7";
}

.bk-shezhi:before {
  content: "\e696";
}

.bk-help:before {
  content: "\e626";
}

.bk-choujiang1:before {
  content: "\e649";
}

.bk-shuye:before {
  content: "\e668";
}

.bk-security-shield-full:before {
  content: "\e876";
}

.bk-youjiantou_huaban1:before {
  content: "\e63c";
}

.bk-tixian:before {
  content: "\e67c";
}

.bk-ziyuan:before {
  content: "\e616";
}

.bk-time:before {
  content: "\e62b";
}

.bk-lingdang:before {
  content: "\e612";
}

.bk-wo:before {
  content: "\e663";
}

.bk-icon-test:before {
  content: "\e6e7";
}

.bk-youjiantou_huaban:before {
  content: "\e63e";
}

.bk-xingxingmianxing:before {
  content: "\e665";
}
