.visitedStatus{
	cursor: text;
	transition:border-color 0.4s ;
	&:hover,&:visited,&:focus,&:active{
		border-color: $activeColor;
	}
}
.focus{
	border-color: $activeColor;
}
.disabled{
	background-color: #e8e8e8;
	color: #000;
	opacity: 0.6;
	&:hover,&:visited,&:focus,&:active{
		border-color: $borderColor;
	}
}
.error{
	border-color: $red!important;
	&:hover,&:visited,&:focus,&:active{
		border-color: $red!important;
	}
}