/* #ifndef APP-PLUS */
@font-face {
  font-family: "basefont"; /* Project id 1643356 */
  src: url('https://at.alicdn.com/t/font_1643356_c54bvsbrix.woff2?t=1629369152925') format('woff2'),
       url('https://at.alicdn.com/t/font_1643356_c54bvsbrix.woff?t=1629369152925') format('woff'),
       url('https://at.alicdn.com/t/font_1643356_c54bvsbrix.ttf?t=1629369152925') format('truetype');
}
/* #endif */

/* #ifdef APP-PLUS */
@font-face {
  font-family: 'basefont';
  src: url('@/uni_modules/base-view/css/font/iconfont.woff2?t=1625784102305') format('woff2'),
       url('@/uni_modules/base-view/css/font/iconfont.woff?t=1625784102305') format('woff'),
       url('@/uni_modules/base-view/css/font/iconfont.ttf?t=1625784102305') format('truetype');
}
/* #endif */

.bIcon-auth:before {
  content: "\e687";
}

.bIcon-parise:before {
  content: "\e679";
}

.bIcon-pariseFill:before {
  content: "\e67b";
}

.bIcon-badFlower:before {
  content: "\e676";
}

.bIcon-badFlowerFill:before {
  content: "\e611";
}

.bIcon-flower:before {
  content: "\e609";
}

.bIcon-flowerFill:before {
  content: "\e678";
}

.bIcon-star:before {
  content: "\e6d0";
}

.bIcon-starFill:before {
  content: "\e675";
}

.bIcon-lightning:before {
  content: "\e717";
}

.bIcon-lightningFill:before {
  content: "\e744";
}

.bIcon-wifi:before {
  content: "\e70b";
}

.bIcon-noWifi:before {
  content: "\e674";
}

.bIcon-doubt:before {
  content: "\e673";
}

.bIcon-noteFill:before {
  content: "\e715";
}

.bIcon-doubtFill:before {
  content: "\e6f2";
}

.bIcon-note:before {
  content: "\e6c1";
}

.bIcon-correctFill:before {
  content: "\e6f8";
}

.bIcon-correct:before {
  content: "\e671";
}

.bIcon-psw:before {
  content: "\e6c6";
}

.bIcon-hidePsw:before {
  content: "\e66b";
}

.bIcon-sort:before {
  content: "\e6b5";
}

.bIcon-collapse:before {
  content: "\e985";
}

.bIcon-collapseOpen:before {
  content: "\e995";
}

.bIcon-wechat:before {
  content: "\e669";
}

.bIcon-wechatFill:before {
  content: "\e66a";
}

.bIcon-moreVertical:before {
  content: "\e994";
}

.bIcon-moreVerticalFill:before {
  content: "\e668";
}

.bIcon-more:before {
  content: "\e708";
}

.bIcon-moreFill:before {
  content: "\e993";
}

.bIcon-triangleDown:before {
  content: "\e667";
}

.bIcon-triangleRight:before {
  content: "\e990";
}

.bIcon-triangleUp:before {
  content: "\e991";
}

.bIcon-triangleLeft:before {
  content: "\e992";
}

.bIcon-wxpay:before {
  content: "\e662";
}

.bIcon-alipay:before {
  content: "\e665";
}

.bIcon-warn:before {
  content: "\e65f";
}

.bIcon-warnFill:before {
  content: "\e661";
}

.bIcon-wxpayFill:before {
  content: "\e697";
}

.bIcon-alipayFill:before {
  content: "\e65e";
}

.bIcon-loadFail:before {
  content: "\e688";
}

.bIcon-videoRecorder:before {
  content: "\e659";
}

.bIcon-videoRecorderFill:before {
  content: "\e65a";
}

.bIcon-playerFill:before {
  content: "\e65b";
}

.bIcon-player:before {
  content: "\e65c";
}

.bIcon-pc:before {
  content: "\e660";
}

.bIcon-pcFill:before {
  content: "\e657";
}

.bIcon-wait:before {
  content: "\e876";
}

.bIcon-waitFill:before {
  content: "\e66e";
}

.bIcon-quoteEnd:before {
  content: "\e652";
}

.bIcon-quoteStart:before {
  content: "\e653";
}

.bIcon-backspace:before {
  content: "\e6c7";
}

.bIcon-backspaceFill:before {
  content: "\e654";
}

.bIcon-calendarFill:before {
  content: "\e713";
}

.bIcon-calendar:before {
  content: "\e655";
}

.bIcon-choosedTag:before {
  content: "\e6d5";
}

.bIcon-filterFill:before {
  content: "\e651";
}

.bIcon-filter:before {
  content: "\e65d";
}

.bIcon-hideAll:before {
  content: "\e6f0";
}

.bIcon-showAll:before {
  content: "\e6f1";
}

.bIcon-choosedFill:before {
  content: "\e60e";
}

.bIcon-choosed:before {
  content: "\e64f";
}

.bIcon-password:before {
  content: "\e672";
}

.bIcon-passwordFill:before {
  content: "\e64e";
}

.bIcon-circleFill:before {
  content: "\e647";
}

.bIcon-circle:before {
  content: "\e6b2";
}

.bIcon-commentFill:before {
  content: "\e66f";
}

.bIcon-comment:before {
  content: "\e64d";
}

.bIcon-copyFill:before {
  content: "\e98f";
}

.bIcon-copy:before {
  content: "\e6fe";
}

.bIcon-recorderFill:before {
  content: "\e619";
}

.bIcon-recorder:before {
  content: "\e648";
}

.bIcon-viewFill:before {
  content: "\e644";
}

.bIcon-view:before {
  content: "\e645";
}

.bIcon-mobile:before {
  content: "\e61a";
}

.bIcon-mobileFill:before {
  content: "\e643";
}

.bIcon-safe:before {
  content: "\e66d";
}

.bIcon-safeFill:before {
  content: "\e60f";
}

.bIcon-search:before {
  content: "\e60d";
}

.bIcon-searchFill:before {
  content: "\e699";
}

.bIcon-addCircleFill:before {
  content: "\e640";
}

.bIcon-addCircle:before {
  content: "\e641";
}

.bIcon-noData:before {
  content: "\e642";
}

.bIcon-addressFill:before {
  content: "\e610";
}

.bIcon-coupon:before {
  content: "\e626";
}

.bIcon-couponFill:before {
  content: "\e681";
}

.bIcon-locationFill:before {
  content: "\e605";
}

.bIcon-location:before {
  content: "\e624";
}

.bIcon-locationPointFill:before {
  content: "\e623";
}

.bIcon-locationPoint:before {
  content: "\e603";
}

.bIcon-favoriateFill:before {
  content: "\e63c";
}

.bIcon-favoriate:before {
  content: "\e613";
}

.bIcon-recommend:before {
  content: "\e649";
}

.bIcon-recommendFill:before {
  content: "\e64b";
}

.bIcon-draw:before {
  content: "\e67d";
}

.bIcon-drawFill:before {
  content: "\e69e";
}

.bIcon-couponDash:before {
  content: "\e622";
}

.bIcon-couponDashFill:before {
  content: "\e602";
}

.bIcon-pic:before {
  content: "\e61c";
}

.bIcon-picFill:before {
  content: "\e61d";
}

.bIcon-upload:before {
  content: "\e6cd";
}

.bIcon-uploadFill:before {
  content: "\e97f";
}

.bIcon-good:before {
  content: "\e60a";
}

.bIcon-goodFill:before {
  content: "\e60c";
}

.bIcon-clock:before {
  content: "\e810";
}

.bIcon-clockFill:before {
  content: "\e811";
}

.bIcon-shop:before {
  content: "\e650";
}

.bIcon-shopFill:before {
  content: "\e6e7";
}

.bIcon-subtract:before {
  content: "\e625";
}

.bIcon-multiply:before {
  content: "\e636";
}

.bIcon-add:before {
  content: "\e783";
}

.bIcon-shareCircle:before {
  content: "\e6c5";
}

.bIcon-shareCircleFill:before {
  content: "\e778";
}

.bIcon-share:before {
  content: "\e63e";
}

.bIcon-shareFill:before {
  content: "\e66c";
}

.bIcon-shareArrowFill:before {
  content: "\e634";
}

.bIcon-shareArrow:before {
  content: "\e637";
}

.bIcon-photoFill:before {
  content: "\e63d";
}

.bIcon-photo:before {
  content: "\e63f";
}

.bIcon-releaseFill:before {
  content: "\e632";
}

.bIcon-release:before {
  content: "\e61e";
}

.bIcon-refresh:before {
  content: "\e615";
}

.bIcon-refreshFill:before {
  content: "\e63a";
}

.bIcon-editFill:before {
  content: "\e631";
}

.bIcon-setTopFill:before {
  content: "\e635";
}

.bIcon-setTop:before {
  content: "\e62e";
}

.bIcon-editSquare:before {
  content: "\e62d";
}

.bIcon-editSquareFill:before {
  content: "\e6ad";
}

.bIcon-collect:before {
  content: "\e666";
}

.bIcon-collectFill:before {
  content: "\e630";
}

.bIcon-listFill:before {
  content: "\e64a";
}

.bIcon-list:before {
  content: "\e72a";
}

.bIcon-okFill:before {
  content: "\e742";
}

.bIcon-ok:before {
  content: "\e604";
}

.bIcon-close:before {
  content: "\e633";
}

.bIcon-closeFill:before {
  content: "\e71b";
}

.bIcon-subCircle:before {
  content: "\e60b";
}

.bIcon-subCircleFill:before {
  content: "\e639";
}

.bIcon-delete:before {
  content: "\e663";
}

.bIcon-deleteFill:before {
  content: "\e664";
}

.bIcon-notice:before {
  content: "\e6ce";
}

.bIcon-noticeFill:before {
  content: "\e6cf";
}

.bIcon-up:before {
  content: "\e629";
}

.bIcon-down:before {
  content: "\e62a";
}

.bIcon-right:before {
  content: "\e62b";
}

.bIcon-left:before {
  content: "\e62c";
}

.bIcon-msgFill:before {
  content: "\e617";
}

.bIcon-msg:before {
  content: "\e607";
}

.bIcon-telFill:before {
  content: "\e612";
}

.bIcon-tel:before {
  content: "\e627";
}

.bIcon-servicer:before {
  content: "\e61f";
}

.bIcon-servicerFill:before {
  content: "\e620";
}

.bIcon-orderFill:before {
  content: "\e63b";
}

.bIcon-order:before {
  content: "\e6bd";
}

.bIcon-refund:before {
  content: "\e614";
}

.bIcon-refundFill:before {
  content: "\e64c";
}

.bIcon-backOrder:before {
  content: "\e618";
}

.bIcon-backOrderFill:before {
  content: "\e621";
}

.bIcon-postCarFill:before {
  content: "\e616";
}

.bIcon-postCar:before {
  content: "\e638";
}

.bIcon-wollet:before {
  content: "\e656";
}

.bIcon-wolletFill:before {
  content: "\e670";
}

.bIcon-arrowRight:before {
  content: "\e646";
}

.bIcon-arrowLeft:before {
  content: "\e67c";
}

.bIcon-arrowUp:before {
  content: "\e692";
}

.bIcon-arrowDown:before {
  content: "\e69a";
}

.bIcon-setFill:before {
  content: "\e61b";
}

.bIcon-set:before {
  content: "\e606";
}

.bIcon-cart:before {
  content: "\e600";
}

.bIcon-cartFill:before {
  content: "\e601";
}

.bIcon-classifyFill:before {
  content: "\e7f8";
}

.bIcon-classify:before {
  content: "\e7f9";
}

.bIcon-userFill:before {
  content: "\e608";
}

.bIcon-user:before {
  content: "\e658";
}

.bIcon-home:before {
  content: "\e62f";
}

.bIcon-homeFill:before {
  content: "\e628";
}
